.product-img {
    display: block;
    width: 100%;

    border-top-left-radius: var(--space-100);
    border-top-right-radius: var(--space-100);
}

.product-info-container {
    background-color: white;
    padding: var(--space-400);
    border-bottom-left-radius: var(--space-100);
    border-bottom-right-radius: var(--space-100);
}
.product-info-container {
    display: flex;
    flex-direction: column;
    gap: var(--space-300);
}

.product-category {
    color: var(--color-grey);
}
.product-description {
    color: var(--color-grey);
}

/* price */
.product-price {
    display: flex;
    gap: var(--space-200);
    align-items: center;
}
.discounted-price {
    color: var(--color-green_500);
}
.original-price {
    color: var(--color-grey);
    letter-spacing: 0;
}

/* button */
.add-to-cart-btn {
    border-radius: var(--space-100);
    padding: var(--space-200) var(--space-400);
    background-color: var(--color-green_500);
    color: white;
}
.add-to-cart-btn {
    display: flex;
    justify-content: center;
    gap: var(--space-100);
}